<script type="text/javascript">
    function Bookroomfull(){
            alert("Sorry, the room is olready booked ");
        }
        function Bookroom(){
            alert("Room Booked ");
        }
    
</script>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/arstyle.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <button onCLick="history.back()"><i class="fas fa-arrow-left"></i></button> 
        <main>
            <head>
                <link rel="stylesheet" type="text/css" href="../css/arstyle.css">
             </head>
             <form action="/" class="inline">
                <button class="float-left submit-button" >Home</button>
            </form>
                <body  background-image: url("/images/brad-fickeisen-762583-unsplash.jpg")>
                   <main>
                        <form action="/" class="inline">
                            <button class="float-left submit-button" >Home</button>
                        </form>
                       <% if (rooms.length > 0) { %>
                            <div class="grid">
                                <% for (let room of rooms) { %>
                                    <form action="/" class="inline">
                                        <button class="float-left submit-button" >Home</button>
                                    </form>
                                    <form action="/postupdateroom" method="post" enctype="multipart/form-data">
                                    
                                            <h1 class="room_title">
                                                <%= room.title %>
                                            </h1>
                                        </header>
                                       
                                            <img src="/<%= room.imageUrl %>" alt="<%= room.title %>">
                                        </div>
                                       
                                            <h2 class="room_price">R
                                                <%= room.price %> per night
                                            </h2>
                                            <p class="room_description">
                                                Coordinates: <%= room.georoom.coordinates %> 
                                            </p>
                                            <p class="room_description">
                                                Email for more info : <%= room.roomemail %>
                                            </p>
                                            <p class="room_description">
                                               Call for more info :  <%= room.roomnumber %>
                                            </p>
                                            <p class="room_description">
                                                More info: <%= room.description %>
                                            </p>
                                            <p class="room_description">
                                                Room availble ?: <%= room.avail %>
                                            </p>
                                            <p class="room_description">
                                                Room Booked ?: <%= room.booked %>
                                            </p>
                                            <p class="room_description">
                                                 Email Notification: <%= room.notofi %>
                                            </p>
                                            <input type="hidden" id="roomid" name="roomid" value="<%= room._id %>">
                                        </div>
                                        <div class="Landlord">
                                            <br><label>Delete: </label>
                                            <input type="radio" name="chooseArea" id="del" value="1"/> 

                                            <br><label>Make unavailble: </label>
                                            <input type="radio" name="chooseArea" id="unavail" value="2">

                                            <br><label>Make availble: </label>
                                            <input type="radio" name="chooseArea" id="avail" value="3">

                                            <br><label>Booked: </label>
                                            <input type="radio" name="chooseArea" id="fbook" value="4">

                                            <br><label>Unbook: </label>
                                            <input type="radio" name="chooseArea" id="favail" value="5">

                                            <br><label>Email Notification on: </label>
                                            <input type="radio" name="chooseArea" id="enotifi" value="6">
                                            
                                            <br><label>Email Notification of: </label>
                                            <input type="radio" name="chooseArea" id="enotofi" value="7"/>
                                        </div>

                                        
                                        
                                            <input type="hidden" value="<%= room._id %>" name="roomid" id="roomid">
                                            <% if (room.booked == false) { %>
                                                <!-- <button class="dbtn" type="button" onclick="Bookroom()">View or Book</button> -->
                                                <button class="dbtn" type="submit">Update Room</button>

                                            <% } else { %>
                                                <!-- <button class="dbtn" type="button" onclick="Bookroomfull()">Room Full</button> -->
                                                <button class="dbtn" type="submit">Update Room</button>
                                            <% } %>   
                                        </div>
                                        </form>
                                    </article>
                                    <% } %>
                            </div>
                        
                            <% } else { %>
                                <h1>No rooms Found!</h1>
                                <% } %>
                            </body>
                    </main>
             
                    <script src="/js/admin.js"></script>
